body {
    background-color: #344e41;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

.page-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 90vh;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 60px;
    background-color: #252519;
    color: #f0ece3;
    border-radius: 0 0 20px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.links {
    display: flex;
    gap: 20px;
}

.links a {
    text-decoration: none;
    color: #c9b99a;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 60px;
    background-color: #252519;
    color: #888878;
    font-family: 'verdana' sans-serif;
    font-size: 13px;
    border-radius: 20px 20px 0 0;
    margin-top: 40px;
}

.content {
    padding: 40px;
}