body {
    background-color: #344e41;
    font-family: 'Montserrat', sans-serif;
}

.page-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 90vh;
    position: relative;
}

header,
footer {
    display: flex;
    position: absolute;
    font-size: 17px;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px 40px;
}

.links {
    display: flex;
    gap: 20px;
}

.links a {
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

.item:hover {
    background-color: #a3b18a;
    transform: scale(1.05);
}

.container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    translate: 0 120px;
    margin-top: 80px;
}

.item {
    width: 45%;
    height: 500px;
    background-color: #dad7cd;
    font-size: 56px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.item .info {
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    color: white;
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
}

.item:hover .info {
    opacity: 1;
    visibility: visible;
}


footer nav a {
    text-decoration: none;
}

.nature {
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    background-attachment: fixed;
    overflow: hidden;
    flex-wrap: wrap;
}

.nature img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("naturalphoto.jpg");
    background-size: cover;
    background-position: center;
    max-width: 100%;
}

.nature-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    color: white;
    font-size: 60px;
}

.nature-text p {
    font-size: 30px;
    transform: translate(-4%, -70%);
    color: white;
    font-size: 50px;
    text-align: center;

}

.main-font {
    font-family: 'Lora', serif;
}